<div class="calendar-section">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
      </tr>
    </thead>
    <tbody>
      {% for week in calendar %}
      <tr>
        {% for day in week %}
        <td>
          {% if day.posts %}
          <a href="{% url 'blog:posts_by_date' day.date.year day.date.month day.date.day %}">
            {{ day.date.day }}
          </a>
          {% else %}
          {{ day.date.day }}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
